
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  background-color: #333;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.75);
          box-shadow: inset 0 0 100px rgba(0,0,0,.75);
}
      
body {
  color: #fff;
  margin-bottom: 40px; /* -> same as body footer height! */
  background-color: transparent;
}

body > footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #f5f5f5;
  -webkit-box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.75);
}

p, h1, h2, h3, h4, h5 { color: #fff; }


/* General page CSS
-------------------------------------------------- */
body > .container {
  padding: 60px 15px 0; 
}

body > footer > div {
  margin-top: 10px;
}

body > footer > div {
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}

.page-header { margin-top: 20px; }
.mobile-menu-lable { display:inline-block; }

.container {
  max-width: 800px;
}

@media (min-width: 768px) {
  #navbar { 
    position: relative;
    float: right; 
  }
  .right { text-align: right; }
  .page-header small { display:none; }
}

.panel-default { background-color: #444; }
.modal-content { background-color: #555; }

/* Home page CSS
-------------------------------------------------- */
.main-content-home blockquote { background-color: #3A3A3A; font-size: 1.15em; }
.main-content-home { margin-bottom: 70px; }
.main-content-home p { font-size: 0.8em; }
.tag-header-left-home, .tag-header-bottom-home { margin-left: 25px; opacity: 0.75; color: #000 }
.tag-header-left-home p, .tag-header-bottom-home p { margin: 0; color: #000 }
.tag-header-right-home { margin-left: 30px; opacity: 0.75; color: #000; display: none; }
.tag-header-right-home p { margin: 0; color: #000 }
.profile-area { width: 100%; height: 300px; background: url(../images/profile_picture.jpg) no-repeat; background-size: cover; }
.profile-tags { opacity: 0.5; }
.profile-tags { opacity: 0.5; padding: 0; }
.sm-right-tags { display: none; }
.profile-tags p { margin-bottom: 0; }

@media (max-width: 340px) {
  .profile-tags { padding: 10px 0 0 20px; }
  .main-content-home p { font-size: 0.73em; }
}

@media (min-width: 768px) {
  .tag-header-left-home { margin-left: 20px; }
  .tag-header-right-home { display: inherit; }
  .tag-header-bottom-home { display: none; }
  .profile-area { width: 100%; height: 400px; background: url(../images/profile_picture.jpg) no-repeat; background-size: cover; }
  .profile-tags { opacity: 0.5; padding: 20px 0; }
  .profile-tags p { margin-bottom: 16px; }
  .sm-right-tags { display: inherit; }
  .sm-right-tags p { margin-bottom: 27px; }
  .xs-tags { display: none; }
  .main-content-home p { font-size: 1em; }
  .main-content-home img { margin: 10px 0 0 30px; }
  .main-content-text-home { margin-top: 0; text-align: inherit; font-weight: normal; font-style: normal; letter-spacing: 0em; }
}


/* IT page CSS
-------------------------------------------------- */
.container-it img { margin-bottom: 20px; max-width: 220px; }
.container-it img:hover { 
  -webkit-box-shadow: 0px 0px 25px rgba(255,255,255,1);
  box-shadow: 0px 0px 25px rgba(255,255,255,1);
}
@media (min-width: 768px) {
  .container-it img { margin-bottom: 0 }
}


/* Study page CSS 
-------------------------------------------------- */
.container-study .study-title>a { float: right; font-size: 1.1em; color: #000; }
.container-study .study-title>a:hover { color: darkblue; }
.study_description_hagen .glyphicon { padding: 5px; padding-right: 10px; }
.course-description { padding: 4px 4px 0 4px; background-color: #222; }
.course-description:last-child { padding-bottom: 4px; }
.course-description-header { 
  padding: 10px 15px; border-top: 1px solid #fff; background-color: #666; border-radius: 5px; 
  border-top-right-radius: 5px; color: #fff; width: 100%; text-align: left; }
.course-description-header:hover { 
  cursor: pointer; background: rgb(102,102,102);
  background: -webkit-linear-gradient(top, rgba(102,102,102,1) 33%,rgba(68,68,68,1) 100%);
  background: linear-gradient(to bottom, rgba(102,102,102,1) 33%,rgba(68,68,68,1) 100%);
}
.course-description-content , .course-description-footer{ padding: 15px 20px; background-color: #555; }
.course-description-content ol { margin: 0; }
.course-description-footer { border-top: 1px solid #000; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }
.modal-header p { margin: 0; }

.diplom-info-content blockquote { font-size: 1em; }
    

/* Travel page CSS
-------------------------------------------------- */
.container-travel { margin-bottom: 70px; }
.carousel-inner .item { max-height: 400px; }


/* Contact page CSS
-------------------------------------------------- */
.contact-content .glyphicon { font-size: 24px; color: #b5b5b5 }
.contact-content p { margin-bottom: 0 }

.list-group a { background-color: transparent; }
.list-group a:hover { background-color: #474747; }
a.list-group-item { border: 0; border-bottom: 2px solid #ddd; }
a.list-group-item:last-of-type { border: 0; }
